:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
  }
  * {
    margin: 0;
    padding: 0;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box; 
    /*
     *  font size = 16px, 1rem = 16px, 100% = 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
@keyframes aparecerDesdeIzquierda {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.profile {
  animation: aparecerDesdeIzquierda 0.5s ease forwards;
}

.profile {
  position: relative; 
}

 /* 460px / 16px = 28.75em */
 @media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
 
  
}  
  /* 1200px / 16px = 75em */
  @media (max-width: 75em) {
    html {
      font-size: 60%;
    }
   
  }  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
    

  }
   
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
  }
  h1,
  h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  h2 {
    font-size: 4.2rem;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--main-white);
  }
  
  img {
    display: block;
    width: 100%;
  }

  .nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-red);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
  }
  
  .nav-list {
    display: flex;
    margin-right: 1rem;
  }
  
  @media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }
  
    .nav-list {
      margin: 0 1rem;
    }
  }
  
  .nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
  }
  
  .nav-list a:hover {
    background: var(--main-blue);
  }
  
  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    color:#111;
    width: 100%;
    height: 100vh;
    font-weight: 800;
    font-size: xx-large;
    background-color: #111;
    background-image: linear-gradient(62deg, #e9eceffd 0%, #c0bec3 100%);
    /*position desconfigura en este caso*/
  }
  
  .profile{
    width: 180px;
    height:180px;
    margin-right: 20px;
    margin-left:5px;
  }
  

  .dev {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-red);
    font-weight: bold;
  }
  
  .projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-blue);  
  }
  
  .projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);
    
  }
  
  @media (max-width: 28.75em) {
    .projects-section-header {
      font-size: 4rem;
    }

  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 5rem;
  }

  .bolitas{
    display: flex;
    flex-direction: row;
  }
  .bolita{
    border-radius: 50%;
    background-color: #FF8096;
    width: 1rem; /* 10px / 10 = 1rem */
    height: 1rem; /* 10px / 10 = 1rem */
    margin-bottom: 0.8rem; /* 5px / 10 = 0.5rem */
  }
  .bolita2{
    display: inline;
    border-radius: 50%;
    background-color: #FF9C7E;
    width: 1rem;
    height: 1rem;
    margin-left:0.5rem;
  }
  .bolita3{
    display: inline;
    border-radius: 50%;
    background-color: #FFBA7F;
    width:1rem;
    height:1rem;
    margin-left:0.5rem;
  }
  .bolita4{
    display: inline;
    border-radius: 50%;
    background-color: rgb(66, 213, 182);
    width:1rem;
    height:1rem;
    margin-left:0.5rem;
  }
  
  @media (max-width: 30.625em) {
    .projects-section {
      padding: 6rem 1rem;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
  
  .project {
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }
  
  .code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
  }
  
  .project:hover .code {
    color: #ff7f50;
  }
  
  .project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
  }
  
  .project-title {
    font-size: 2rem;
    padding: 1.5rem 0.3rem;
    border-radius: 10px;
  }
  
  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
  }
  
  .btn-show-all {
    font-size: 2rem;
    background: var(--main-gray);
    transition: background 0.3s ease-out;
  }
  
  .btn-show-all:hover {
    background: var(--main-red);
  }
  
  .btn-show-all:hover > i {
    transform: translateX(2px);
  }
  
  .btn-show-all > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }
   
  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: var(--main-gray);
  }
  
  .contact-section-header > h2 {
    font-size: 6rem;
  }
  
  @media (max-width: 28.75em) {
    .contact-section-header > h2 {
      font-size: 4rem;
    }
  }
  
  .contact-section-header > p {
    font-style: italic;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
  }
  
  .contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }
  
  footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-gray);
    border-top: 4px solid var(--main-red);
  }
  
  footer > p {
    margin: 2rem;
  }
  
  footer i {
    vertical-align: middle;
  }
  
  @media (max-width: 28.75em) {
    footer {
      flex-direction: column;
      text-align: center;
    }
  }

.download{
  color:#45567D;
  text-decoration: none;
}

.cv{
  margin-left:6rem;
  margin-top: 0px;
  text-align: center;
  background: var(--main-gray);
  border-radius:11px;
  font-size:small;
  padding: 9px;
  border: 1px solid black;
  background-color: transparent;
}

.cv:hover{
  background-color:#45567D;
  color: #fff;
  border: 1px solid white;
}

.cv:hover .download {
  color: #fff; 
}


.certification-section {
  text-align: center;
  padding: 10rem 2rem;
  background:#1F212E ;
}

.certification-section-header{
  color: beige;
  max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid beige;
}

@media (max-width: 459px) {
  html {
    font-size:35%;
  }
  .dev{
    display: flex;
    justify-content: center;
    align-items:center;
    
  }
  .cv{
    display: flex;
    justify-content: center;
    align-items:center;
    width:50%;
    position: relative;
    right:6rem;
  }
 
}

.oculto{
  display: none;
}

.show-inline {
  display: flex;
  flex-wrap: nowrap; /* Evita que los elementos se envuelvan */
  justify-content: center; /* Centra los elementos horizontalmente */
}

.project {
  flex: 0 0 auto; /* Evita que los elementos se estiren para ocupar todo el espacio disponible */
  margin: 0 10px; /* Ajusta el margen entre los elementos según sea necesario */
}

.animate {
  animation-play-state: running;
}


@keyframes titulo1 {
  from {
  transform: translateX(-100%); /*si viene de la izq no genera desbordamiento*/
  }   /*translateX(100%) genera un espacio hacia la der como si algo fuera muy ancho */    
  to { /*si el efecto viene de la derecha genera un espacio adicional fantasma */
  transform: translateX(0);
  }
  }

  @keyframes titulo2 {
    from {
    transform: translateX(-100%); /*tiene que ser -100 para que no desborde*/
    } /*no quiero generalizar que siempre pase, esto al menos pasa aqui*/
    to {
    transform: translateX(0);
    }
    }

.projects-section-header{
  view-timeline-name: --title;
  animation-timeline: --title;
	animation-name: titulo1;
	animation-range: entry 0% cover 30%;
	animation-fill-mode: both;
  animation-direction:forwards;
}
.certification-section-header{
  view-timeline-name: --title;
  animation-timeline: --title;
	animation-name: titulo2;
	animation-range: entry 0% cover 30%;
	animation-fill-mode: both;
  animation-direction:forwards;
}
@keyframes jobs-move {
from {
transform: translateX(-100%);
}
to {
transform: translateX(0);
}
}

#jobs-move {
  view-timeline-name: --job;
  animation-timeline: --job;
	animation-name: jobs-move;
	animation-range: entry 0% cover 20%;
	animation-fill-mode: both;
  animation-direction:forwards;
}

  
@keyframes certs-move {
from {
transform: translateX(-100%);
}
to {
transform: translateX(0);
}
}

#certs-move{
  view-timeline-name: --cert;
  animation-timeline: --cert;
	animation-name: certs-move;
	animation-range: entry 0% cover 20%;
	animation-fill-mode: both;
  animation-direction:forwards;
}
